/*General*/
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #ACE1E6;
    
}

/*button*/
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    background-color: #E8AEE8;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: inline-table;
    text-transform: uppercase;
}

a:hover{

    background-color: darkorchid;
    border: 2px solid darkred;
}


/*Index*/
.main-page-header{
    background-color: #FFE9BF;
    padding: 8px;
    border-bottom: 5px solid black;
    text-transform: uppercase;
    max-width: 1000px;
    text-align: center;
    margin: auto auto;
    border-radius: 20px;
}

.background-homepage{
    text-align: center;
    background-color: #d3ccc6;
    margin: 40px auto;
    padding: 40px;
    max-width: 1200px;
    border: 5px solid rgb(102, 73, 31);
    border-radius: 20px;
   
}




/*Recipe pages*/
div.baumkuchen-page, div.pancake-page, div.berliner-page{
    font-size: 20px;
}



/*Styles Recipe Pages*/

/*baumkuchen*/

.photo-credit sub{
    display: block;
    text-align: center;
}
.baumkuchen-page{
    text-align: center;
    background-color: #f8deac;
    margin: 40px auto;
    padding: 40px;
    max-width: 900px;
    border: 5px solid #422a08;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #686868;
}

.baumkuchen-page h1{
    color: #422a08;
    font-size: 60px;
    text-shadow: 2px 2px 4px #494747;
}

.baumkuchen-page h3{
    color: #5c411b;
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 25px;
}

.baumkuchen-page p,
.baumkuchen-page li{
    text-align: justify;
    padding: 1px;
    margin: 10px auto;
    max-width: 700px;

}

.baumkuchen-page ol,
.baumkuchen-page ul{
    text-align: center;
    /* padding: 1px; */
    margin: 10px auto;
    display: inline-block;
    /* padding-left: 20px; */

}

.baumkuchen-image{
    border: 5px solid #422a08;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #686868;
}

.baumkuchen-image:hover{

}


/*berliner*/

/*pancakes*/